In [11]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

In [12]:
ser = pd.Series((4,8,15,16,23,42))
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [13]:
var = [1,2,3,4,5,'a','b','c','d','e']
s = pd.Series(var)
print(s)

0    1
1    2
2    3
3    4
4    5
5    a
6    b
7    c
8    d
9    e
dtype: object

Q3. Create a Pandas DataFrame that contains the following data Then, print the DataFrame:

Name
Alice
Bob
Claire
Age
25
30
27
Gender
Female
Male
Female

In [14]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                    'Age': [25, 30, 27],
                    'Gender': ['Female', 'Male', 'Female']}
                  )
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DateFrame: DateFrame is a two dimensional tabular data structure, it's like an excel sheet that contains rows and columns. Each column can store different types of data, like numbers, text etc. we use dataframes for data manipulation.
Series: Series is like a single column in dataframe. its a one dimensional list of labeled data that can hold any kind of information

Examples:
Dataframe:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                    'Age': [25, 30, 27],
                    'Gender': ['Female', 'Male', 'Female']}
                  )
print(df)

Series:
s = pd.Series({'Name': ['Alice', 'Bob', 'Claire']})
print(s)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

some of the common functions we can use to manipulate data are head(), tail(), describe(), sort_values(), drop(), dropna(), fillna(), groupby() etc
For example, if you have a DataFrame with a 'Sales' column, you can use groupby() to group data by 'Month' and then apply sum() to calculate the total sales for each month. This will give monthly sales data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series, DataFrame and Panel, all three are mutable in nature

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Claire'],
                    'Age': [25, 30, 27],
                    'Gender': ['Female', 'Male', 'Female']}
                  )
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female