Q1. List any five functions of the pandas library with execution.

In [1]:
# 1. read_csv - this function is used to read data from csv file and create a dataframe
import pandas as pd
df = pd.read_csv('services.csv')

In [2]:
# 2. head() - this function is used to display first few rows of the dataframe, by default it shows 5 rows
df.head(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN

In [3]:
# 3. tail() - this function is used to display last few rows of the dataframe, by default it shows 5 rows
df.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [4]:
# 4. describe() - this function is used to get statistics data of the dataframe, for numerical columns, it shows count, mean, standard deviation, 
# minimum, maximum, 25%, 50%, 75% values
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [5]:
# 5. groupby() - this function is used to group the data based on column values, after grouping we can perform various functions/ operations on 
# grouped data
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df.groupby('Survived').mean()

/tmp/ipykernel_84/129993151.py:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Survived').mean()

          PassengerId    Pclass        Age     SibSp     Parch       Fare
Survived
0          447.016393  2.531876  30.626179  0.553734  0.329690  22.117887
1          444.368421  1.950292  28.343690  0.473684  0.464912  48.395408

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [16]:
def reindex_df(df):
    new_index = pd.Series((range(1, len(df)*2, 2)))
    df['new_index'] = new_index
    df.set_index('new_index',inplace=True)
    return df
df = pd.DataFrame({'A': [10, 20, 30, 40],
        'B': [50, 60, 70, 80],
        'C': [90, 100, 110, 120]})
#print(df)
print(reindex_df(df))

            A   B    C
new_index
1          10  50   90
3          20  60  100
5          30  70  110
7          40  80  120

Q3.You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [18]:
def sum_df(df):
    s = 0
    count = 0
    for i in df['Values']:
        s+=i
        count+=1
        if count == 3:
            break
    return s
        
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print(sum_df(df))

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [36]:
def word_counter(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(list(x.split())))
    return df
df = pd.DataFrame({'Text': ["This is a sample sentence.",
                 "Count the number of words in this text.",
                 "Hello, world!"],
        })
print(word_counter(df))

                                      Text  Word_Count
0               This is a sample sentence.           5
1  Count the number of words in this text.           8
2                            Hello, world!           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [19]:
# DataFrame.size() gives the total number of elements in the dataframe. i.e., it multiplies number of rows with number columns and gives that value
# DataFrame.shape() gives the dimesnions of the dataframe. i.e., it gives number of rows and number of columns data of the dataframe

Q6. Which function of pandas do we use to read an excel file?

In [20]:
# we use read_excel() function in pandas to read data from excel file

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [27]:
def create_username(df):
    df['Username'] = df['Email'].apply(lambda x: list(x.split('@'))[0])
    return df
df = pd.DataFrame({'Email' : ['john.doe@example.com','test_username1@gmail.com','test_username2@gmail.com']})
print(create_username(df))

                      Email        Username
0      john.doe@example.com        john.doe
1  test_username1@gmail.com  test_username1
2  test_username2@gmail.com  test_username2

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

   A   B   C

0  3   5   1

1  8   2   7

2  6   9   4

3  2   3   5

4  9   1   2

Your function should select the following rows:   A   B   C

1  8   2   7

4  9   1   2

The function should return a new DataFrame that contains only the selected rows.

In [28]:
def filter1(df):
    return df[(df['A']>5) & (df['B']<10)]
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]})
print(filter1(df))

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [29]:
def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
    
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50, 60, 70]})
mean, median, std = calculate_stats(df)
print('Mean is {}, Median is {}, std is {}'.format(mean, median, std))

Mean is 40.0, Median is 40.0, std is 21.602468994692867

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [35]:
def moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df
df = pd.DataFrame({'Date' : pd.date_range(start='2023-01-01', periods=30, freq='D'),
                   'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155]
                    })
print(moving_average(df))

         Date  Sales  MovingAverage
0  2023-01-01     10            NaN
1  2023-01-02     15            NaN
2  2023-01-03     20            NaN
3  2023-01-04     25            NaN
4  2023-01-05     30            NaN
5  2023-01-06     35            NaN
6  2023-01-07     40           25.0
7  2023-01-08     45           30.0
8  2023-01-09     50           35.0
9  2023-01-10     55           40.0
10 2023-01-11     60           45.0
11 2023-01-12     65           50.0
12 2023-01-13     70           55.0
13 2023-01-14     75           60.0
14 2023-01-15     80           65.0
15 2023-01-16     85           70.0
16 2023-01-17     90           75.0
17 2023-01-18     95           80.0
18 2023-01-19    100           85.0
19 2023-01-20    105           90.0
20 2023-01-21    110           95.0
21 2023-01-22    115          100.0
22 2023-01-23    120          105.0
23 2023-01-24    125          110.0
24 2023-01-25    130          115.0
25 2023-01-26    135          120.0
26 2023-01-27    140          125.0
27 2023-01-28    145          130.0
28 2023-01-29    150          135.0
29 2023-01-30    155          140.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:

         Date

0  2023-01-01

1  2023-01-02

2  2023-01-03

3  2023-01-04

4  2023-01-05

Your function should create the following DataFrame:


         Date    Weekday

0  2023-01-01    Sunday

1  2023-01-02     Monday

2  2023-01-03    Tuesday

3  2023-01-04    Wednesday

4  2023-01-05    Thursday

The function should return the modified DataFrame.

In [46]:
def weekday(df):
    df['weekday'] = df['Date'].dt.strftime('%A')
    return df
df = pd.DataFrame({'Date' : pd.date_range(start='2023-01-01',periods=5, freq='D')
})
print(weekday(df))

        Date    weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [48]:
def rows_btw_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df[(df['Date'] > '2023-01-01') & (df['Date'] < '2023-01-31')]
df = pd.DataFrame({'Date': ['2023-01-15', '2023-02-05', '2023-01-10', '2023-01-20', '2023-01-25']})
print(rows_btw_dates(df))

        Date
0 2023-01-15
2 2023-01-10
3 2023-01-20
4 2023-01-25

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [6]:
# we will import pandas library (import pandas as pd)